header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    margin-bottom: 1EM;
    ul{
        display: flex;
        gap: 2em;
        margin-right: 1em;
        li{
            list-style-type: none;
            a{
        color: white;
        font-size: xxx-large;
        text-decoration: none;
            }    
        }
    }
}
a{
    width: 30%;
}
